<div class="wk-container section-create split-header">
    <div class="form-content frame-sky">
        <div>
            <div>
                <button mat-icon-button routerLink="../">
                    <mat-icon aria-label="back">keyboard_arrow_left</mat-icon> Volver
                </button>
            </div>
            <h3 class="wk-subtitle wk-subtitle--xl">Agregar un recomendado</h3>
            <p class="wk-text">
                Completa los campos para registrar un recomendando en la aplicación, de esa forma otra personas pueden
                requerir sus servicios, haz grande la comunidad!!
            </p>
        </div>
        <!-- {{form.get('foto').value | json}} -->
        <div class="text-center my-4">
            <div class="wk-avatar-border position-relative">
                <div class="wk-avatar wk-avatar-mock" *ngIf="!isUploaded">
                    <img src="/assets/images/user.png" alt="user icon default">
                </div>
                <input type="file" #file class="d-none" (change)="upload()">
                <button mat-icon-button aria-label="add picture" class="btn-up-picture" (click)="file.click()">
                    <i *ngIf="!form.get('foto').value.length" class="fas fa-plus fa-2x"></i>
                    <i *ngIf="form.get('foto').value.length" class="fas fa-pencil-alt" [style.font-size]="'20px'"></i>
                </button>
                <div class="wk-avatar" *ngIf="isUploaded">
                    <span class="loader-spin-avatar">
                        <i class="fas fa-spinner fa-2x fa-pulse "></i>
                    </span>
                    <div class="picture-avatar" *ngIf="!loaderImage" [ngStyle]="{'background-image': getSanitizaUrl(form.get('foto'))}"></div>
                </div>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="wk-input wk-input--xl" [ngClass]="{'wk-input--error': controlInput(form.controls['nombres'])}">
                <mat-icon>label</mat-icon>
                <input type="text" placeholder="Nombres" formControlName="nombres">
            </div>
            <div class="wk-input wk-input--xl" [ngClass]="{'wk-input--error': controlInput(form.controls['apellidos'])}">
                <mat-icon>label</mat-icon>
                <input type="text" placeholder="Apellidos" formControlName="apellidos">
            </div>
            <div class="wk-input wk-input--xl" [ngClass]="{'wk-input--error': controlInput(form.controls['telefono'])}">
                <mat-icon>phone_android</mat-icon>
                <input type="text" placeholder="Celular" maxlength="9" formControlName="telefono">
            </div>
            <div class="wk-input wk-input--city wk-input--xl wk-input--validatorIcon" [attr.title]="" [ngClass]="{'wk-input--error': controlErrorAutoComplete('distrito_id','distrito')}">
                <mat-icon>location_on</mat-icon>
                <input name="distrito" #inputDistrict formControlName="distrito" placeholder="Distrito"
                    [matAutocomplete]="autoDistrict" (ngModelChange)="onChange($event,districts,'filterDistricts')">
                <mat-autocomplete #autoDistrict="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let district of filterDistricts" [value]="district">
                        {{district.nombre}}
                    </mat-option>
                </mat-autocomplete>
                <span class="icon-validator" *ngIf="form.get('distrito').touched || form.get('distrito').dirty">
                    <mat-icon *ngIf="form.get('distrito_id').value">done</mat-icon>
                    <mat-icon *ngIf="!form.get('distrito_id').value">close</mat-icon>
                </span>
            </div>
            <div class="wk-input wk-input--xl" [ngClass]="{'wk-input--error': controlInput(form.controls['direccion'])}">
                <mat-icon>location_on</mat-icon>
                <input type="text" placeholder="Direccion" formControlName="direccion">
            </div>

            <div class="wk-input wk-input--category wk-input--xl wk-input--validatorIcon" [ngClass]="{'wk-input--error': controlErrorAutoComplete('oficio_id','oficio')}">
                <mat-icon>work</mat-icon>
                <input name="oficio" formControlName="oficio" placeholder="Categoria/Oficio" [matAutocomplete]="autoOficio"
                    (ngModelChange)="onChange($event,jobs,'filterJobs')">
                <mat-autocomplete #autoOficio="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectedJob($event)">
                    <mat-option *ngFor="let job of filterJobs" [value]="job">
                        {{job.nombre}}
                    </mat-option>
                </mat-autocomplete>
                <span class="icon-validator" *ngIf="form.get('oficio').touched || form.get('oficio').dirty">
                    <mat-icon *ngIf="form.get('oficio_id').value">done</mat-icon>
                    <mat-icon *ngIf="!form.get('oficio_id').value">close</mat-icon>
                </span>
            </div>

            <div class="wk-input wk-input--textarea" [ngClass]="{'wk-input--error': controlInput(form.controls['descripcion'])}">
                <mat-icon>email</mat-icon>
                <textarea type="text" placeholder="Descripcion" formControlName="descripcion"></textarea>
            </div>
            <div class="box-wk-message">
                <div class="wk-message wk-message--error" *ngIf="errorAuth">
                    El <strong>Celular</strong> ya existe, ingrese otro <strong>numero</strong>
                    para registrar a recomendado.
                </div>
            </div>
            <div class="f-layout f-jc f-ai">
                <span></span>
                <button mat-raised-button class="mv-button mv-primary btn-create" type="submit" [disabled]="loader || !form.valid">
                    <span *ngIf="!loader">crear</span>
                    <span *ngIf="loader" class="freeway-spinner align-middle"></span>
                </button>
            </div>
        </form>
    </div>
</div>
