@import '../../../assets/styles/1-settings/index';
@import '../../../assets/styles/2-tools/index';

.view-auth-login {
    .view-auth__rigth {
        background-color: #fdebff;
    }

    .mv-button--login {
        background-color: #04AEF0;
    }

    .social-item {
        line-height: 50px;
        @include transition(all, 300ms);

        span {
            width: 24px;
            height: 24px;
            display: inline-block;

            background-size: cover;
        }
    }

    .social-google {
        span {
            background-image: url('/assets/images/google-color.png');
        }

        &:hover {
            background-color: #dd4b39;

            span {
                background-image: url('/assets/images/google-white.png');
            }

        }
    }

    .social-fb {
        span {
            background-image: url('/assets/images/facebook-color.png');
        }

        &:hover {
            background-color: #3b5999;

            span {
                background-image: url('/assets/images/facebook-white.png');
            }

        }
    }

    .social-twitter {
        span {
            background-image: url('/assets/images/twitter-color.png');
        }

        &:hover {
            background-color: #55acee;

            span {
                background-image: url('/assets/images/twitter-white.png');
            }
        }
    }

}

.content-social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mv-button {
        width: 30%;
        box-shadow: none;
    }

    .mv-facebook {
        border: 1px solid #3b5999;

        &:hover {
            background-color: #3b5999;
        }
    }

    .mv-google {
        border: 1px solid #dd4b39;

        &:hover {
            background-color: #dd4b39;
        }
    }

    .mv-linkedin{
      border: 1px solid #0077B5;
      &:hover {
        background-color: #0077B5;
    }}
}

.mv-btnsocial {
    img {
        width: 24px;
    }

    .icolor {}

    .iwhite {
        display: none;
    }

    &:hover {
        .icolor {
            display: none;
        }

        .iwhite {
            display: inline-block;
        }
    }
}
