<section class="view-auth view-auth-login">
    <section class="view-auth__left">
        <div class="view-auth__left-header">
            <div routerLink='/' class="pointer">
                <div>
                    <img src="/assets/images/job-search.svg" class="icon-waranka" alt="waranka">
                </div>
                <div>
                    <img src="/assets/images/logo-name-color.png" class="icon-waranka-name" alt="waranka">
                </div>
            </div>
        </div>
        <div class="view-auth__content">
            <h3 class="view-auth__title">Good Evening! Bienvenido a Waranka</h3>
            <h5 class="view-auth__subtitle">Ingresa con tu cuenta <strong>Waranka</strong></h5>
            <form [formGroup]="form" (ngSubmit)="onLogin()" novalidate>
                <div class="wk-input wk-input--xl"
                    [ngClass]="{'wk-input--error': controlInput(form.controls['email'])}">
                    <mat-icon>email</mat-icon>
                    <input type="email" placeholder="Correo Electronico" formControlName="email">
                </div>
                <div class="wk-input wk-input--xl"
                    [ngClass]="{'wk-input--error': controlInput(form.controls['contrasena'])}">
                    <mat-icon>vpn_key</mat-icon>
                    <input type="password" placeholder="Contraseña" formControlName="contrasena">
                </div>
                <div class="box-wk-message">
                    <div class="wk-message wk-message--error" *ngIf="errorMessage">
                        <strong>Email y/o Contraseña</strong> incorrectos.
                    </div>
                </div>
                <button mat-raised-button class="mv-button mv-primary" [disabled]="loader || !form.valid" type="submit">
                    <span *ngIf="!loader">ingresar</span>
                    <div *ngIf="loader" class="freeway-spinner"></div>
                </button>
                <div>
                    <div class="text-center my-3">
                        <span class="text-dark">O</span>
                    </div>
                    <div class="content-social">
                        <button mat-raised-button class="mv-button mv-btnsocial mv-facebook" type="button" title="facebook">
                            <!-- <mat-icon>vpn_key</mat-icon> -->
                            <img class="icolor" src="assets/images/ifacebook-color.svg" alt="color">
                            <img class="iwhite" src="assets/images/ifacebook-white.svg" alt="white">
                        </button>
                        <button mat-raised-button class="mv-button mv-btnsocial mv-google" type="button" title="google">
                            <img class="icolor" src="assets/images/igoogle-color.svg" alt="color">
                            <img class="iwhite" src="assets/images/igoogle-white.svg" alt="white">
                        </button>
                        <button mat-raised-button class="mv-button mv-btnsocial mv-linkedin" type="button" title="linkedin">
                            <img class="icolor" src="assets/images/ilinkedin-color.svg" alt="color">
                            <img class="iwhite" src="assets/images/ilinkedin-white.svg" alt="white">
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box-register">¿No tienes una Cuenta? <span [routerLink]="['/auth/register']"
                [queryParams]="queryParams">Registrate
                aqui!</span>
        </div>
    </section>
    <section class="view-auth__rigth">
        <img src="/assets/images/connectpeople.png" alt="image">
    </section>
</section>
