<section class="view-main">
    <section class="view-main__header header-app">
        <div class="header-app__wrapper">
            <img src="/assets/images/job-search.svg" alt="waranka" class="icon-waranka" routerLink="/">
            <!-- <span> </span> -->
            <div class="list-alienated">
                <span>
                    <!-- <img src="/assets/images/google-color.png" alt="jerson victor"> -->
                </span>
                <span class="header-app__username">{{user.nombres + ' ' + user.apellidos}}</span>
                <button mat-icon-button [matMenuTriggerFor]="menuOptions">
                    <mat-icon class="icon-black">more_vert</mat-icon>
                </button>
                <mat-menu #menuOptions="matMenu">
                    <button mat-menu-item routerLink="user-profile" aria-label="favorite-workers">
                        <mat-icon>account_box</mat-icon>
                        <span>Mi Perfil</span>
                    </button>
                    <button mat-menu-item routerLink="lists" aria-label="favorite-workers">
                        <mat-icon>favorite</mat-icon>
                        <span>Mi Lista</span>
                    </button>
                    <button mat-menu-item (click)="onLogout()" aria-label="logout">
                        <img src="/assets/images/logout.png" alt="salir">
                        <span>Salir</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </section>
    <section class="view-main__content">
        <router-outlet></router-outlet>
    </section>
</section>
