<div class="container">
    <div class="mt-5 mb-4">
        <div class="row">
            <div class="col-6">
                <h4 class="mb-0">
                    Mis Listas
                </h4>
            </div>
            <div class="col-6 text-right">
                <a mat-button routerLink="/recommended-workers" class="mr-2">Ir a Dashboard</a>
                <button mat-stroked-button color="primary" (click)="openDialogList()">Crear Lista</button>
            </div>
        </div>
    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div class="row" *ngIf="!loader">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let item of lists">
            <app-card-list [list]="item"></app-card-list>
        </div>
        <div class="col-sm-12" *ngIf="!lists.length">
            <div class="p-5 bg-light">
                <h6 class="mb-0 text-center">No hay listas creadas!</h6>
            </div>
        </div>
    </div>
    <div class="row py-5" *ngIf="loader">
        <div class="w-100 d-flex justify-content-center align-items-center">
            <mat-spinner [diameter]="32"></mat-spinner>
        </div>
    </div>
</div>
